body {
    margin: 0 auto;
    overflow-x: hidden;
    line-height: 1.7em;
    background: #FAFAFA;
}

a{text-decoration: none;color:#FFE03F;}

::-webkit-scrollbar{width:17px;background:rgba(102,51,0,0.2) url(https://googledrive.com/host/0B9LVk4xbDIJTMnlQWjZ1TGMxQWs/second_section-bg.jpg);}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb{background:#1A1E43 url(https://googledrive.com/host/0B9LVk4xbDIJTb3UtNVVnWFg3WGs/use_your_illusion_alpha91.png);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);}

.l-box {
    padding: 1em;
}

#logoSVG{
    height: 105px;
}
#Shape_8 path{
    fill:url(#hexabump);
}

.absolute{
    position: absolute;
}

.block{
    display: block;
}

.right{
    float: right;
}

.header {
    margin: 0 0;
}

    .head-nav{
        font-size: 19px;
        vertical-align: top !important;
    }

    .iconmonstr-head-nav{
        fill:#fff;
        width:50px;
        margin: auto;
        display: block;
    }

    #phone{
        font-size: 19px;
        padding: 1.5em;
        text-align: right;
        line-height: 11px;
    }
        .contact-us{
            font-size: 11px;
            text-align: right;
        }
    .pure-menu-heading{
        margin: -18px 0 0 9px !important;
        padding: 0 1.5em !important;
    }

    .header .pure-menu {
        padding: 1.5em;
        /*background: #3291d2 url(https://googledrive.com/host/0B9LVk4xbDIJTMnlQWjZ1TGMxQWs/header-bg_ssit.png);*/
        color:#fff;
        height:77px;
        background: #1A1E43 url(https://googledrive.com/host/0B9LVk4xbDIJTb3UtNVVnWFg3WGs/use_your_illusion_alpha91.png);
        opacity: 0.8;
        border-bottom: none !important;
    }
    .header .pure-menu:hover{
        opacity: 1;
    }
        .header .pure-menu li a{
            color:#fff;
            border-right:1px solid rgba(0, 66, 104, 0.75);
        }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            color: #aaa;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    top: 0;
    width: 100%;
    height: 500px;
    margin: 1px auto 0;
    position: absolute;
    padding: 3px 0.5em 0;
    background: #08080c url(https://googledrive.com/host/0B9LVk4xbDIJTMnlQWjZ1TGMxQWs/slider1_ssit.jpg) center no-repeat;
}
    .splash .splash-head {
        color:#fff;
        margin: 0em 0;
        font-size: 37px;
        font-weight: 400;
        line-height: 1.2em;
        font-family: 'Oswald', sans-serif;
        text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    }
    .splash .splash-subhead {
        color: #fff;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .splash-button {
        color:#fafafa;
        font-size: 144%;
        margin: 11px 0 0;
        padding: 17px 71px;
        font-weight: normal;
        /*background: #FFE03F;*/
background-color: #ff9200;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.1,#ffba00),color-stop(1,#ff9200));
background-image: -webkit-linear-gradient(top,#ffba00 10%,#ff9200 100%);
background-image: -moz-linear-gradient(top,#ffba00 10%,#ff9200 100%);
background-image: -o-linear-gradient(top,#ffba00 10%,#ff9200 100%);
background-image: -ms-linear-gradient(top,#ffba00 10%,#ff9200 100%);
background-image: linear-gradient(top,#ffba00 10%,#ff9200 100%);
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 2px 0 #b86900;
box-shadow: 0 2px 0 #b86900;
text-shadow: 0 -1px 0 #dc8100;
text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        /*box-shadow: 1px 3px 3px rgba(0,0,0,0.3);*/
    }
    .splash .splash-button:hover{
        color:#fff;
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.1,#ffba00),color-stop(1,#d27901));
background-image: -webkit-linear-gradient(top,#ffba00 10%,#d27901 100%);
background-image: -moz-linear-gradient(top,#ffba00 10%,#d27901 100%);
background-image: -o-linear-gradient(top,#ffba00 10%,#d27901 100%);
background-image: -ms-linear-gradient(top,#ffba00 10%,#d27901 100%);
background-image: linear-gradient(top,#ffba00 10%,#d27901 100%);
-webkit-box-shadow: 0 2px 0 #894e00;
box-shadow: 0 2px 0 #894e00;
color: #fff!important;
text-shadow: 0 -2px 0 #dc8100;
        /*box-shadow: 1px 2px 2px rgba(255,255,255,0.4);*/
    }
    .splash .splash-button:active{
        color:#fdfdfd;
        margin:12px 0 0;
        -webkit-box-shadow: 0 1px 0 #894e00;
        box-shadow: 0 1px 0 #894e00;
        text-shadow: 0 -1px 0 #dc8100;
       /* box-shadow: 1px 1px 1px rgba(255,255,255,0.3);*/
    }
    .splash .copy{
        margin: 0 3em;
    }
    .splash .splash-text{
        margin: 212px auto 0;
    }

.main{
    text-align: center;
    padding: 19px 0 0;
    margin: 507px auto 0;
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}


.second-section{
    background: url(https://googledrive.com/host/0B9LVk4xbDIJTMnlQWjZ1TGMxQWs/second_section-bg.jpg);
}
    .second-section .pure-u-1-3{
        border-bottom: 16px solid #bdc3c7; 
    }
    .second-over{
        border-image-source: url(https://googledrive.com/host/0B9LVk4xbDIJTb3UtNVVnWFg3WGs/hexabump_icon_img.png);
        border-image-slice: 13;
        border-image-repeat: repeat;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
    }
    .second-section .l-box{
        padding: 1em 1em 0.6em;
    }
    .second-section svg{
        height: 273px;
    }
    .second-section h2{
        color: #5d5d5d;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 22px;
    }
    .second-section p{
        color:#919191;
    }
.final-section{
    text-align: center;
    margin: 77px 0;
}

.welcome{
    background: url(https://googledrive.com/host/0B9LVk4xbDIJTU0FvQll6RWlCNnM/honey_im_subtle_@2X.png);
    margin: -32px 0 0 0;
}
    .welcome h1{
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-weight: 400;
        font-size: 44px;
        color:#959595;
        text-shadow: 0 -1px rgba(0,0,0,0.8);
    }
    .welcome .pure-u-1{
        background: rgba(255,255,255,0.7);
        padding: 4em inherit 2em;
    }
    .welcome h1 span{
        color: #F7CF00;
        text-shadow: 0 -1px rgba(0,0,0,0.4);
    }
    .welcome p{
        color:#959595;
    }
    .welcome .l-box{
        width: 88%;
        margin: 33px auto 0;
        padding-bottom: 5em;
    }

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.center-text{
    text-align: center;
}

/* YUI-MODULE-ACCORDION start */
    #accordions{color: midnightblue;letter-spacing: normal;}
    #accordions h1{color: #fff;font-family: 'Oswald', sans-serif;font-weight: normal;}
    .yui3-js-enabled .yui3-widget-loading { display: none; }

    /* YUI 3 Accordion Skin Styling
     */
     .yui3-accordion-section{text-align: center;}
    .accordion-test-vert {width:auto;background-color:#fff;}
    .my-title-vert{padding: 13px 0}
    .vision-vert{background-color:rgba(236, 199, 3, 0.3);} /* #2980b9 */
    .mission-vert{background-color:rgba(248, 212, 25, 0.45);} /* #3498db */
    .job-vert{background:rgba(255, 224, 63, 0.71)} /* #3aa8f2 */   
    .vision-title{background: url(https://googledrive.com/host/0B9LVk4xbDIJTb3UtNVVnWFg3WGs/cubes_@2X_darker-yellow.png);} 
    .mission-title{background:url(https://googledrive.com/host/0B9LVk4xbDIJTb3UtNVVnWFg3WGs/gplaypattern_@2X_yellow.jpg);}
    .job-title{background: url(https://googledrive.com/host/0B9LVk4xbDIJTb3UtNVVnWFg3WGs/escheresque_ste_@2X_yellow.gif);}
    .my-title-vert a {display:block;text-align:center;cursor:pointer;}
    .my-title-vert a {padding:4px 0;}
    .my-title-vert a:focus
    .my-title-vert a:hover {background-color:#eee;}
    .my-section-vert{padding:10px;}
/* YUI-MODULE-ACCORDION end */

@-webkit-keyframes rotate {
  from {
    trasform: rotate(0deg);
    transform-origin:50% 50%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -ms-transform-origin:50% 50%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin:50% 50%;
  }
  to { 
    trasform: rotate(360deg);
    transform-origin:50% 50%;
    -ms-transform: rotate(360deg); /* IE 9 */
    -ms-transform-origin:50% 50%;
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin:50% 50%;
  }
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.path-over{
   /* fill: #F0CB0F; */
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 3.77s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.path-off{
    fill: 'midnightblue';
    opacity: 1;
}
.main-header-scrolled{
    opacity: 1 !important; height: 1px !important;
}
.iconmonstr-head-nav-scrolled{
    opacity: 0;
}
.phone-scrolled{
    padding-top: 0 !important; margin-top: -5px;
}
.head-nav-scrolled{
    position: absolute !important; top:-35px !important;left:43% !important;font-size: 17px;
}
.logoSVG-scrolled{
    margin-top: -62px;
}
.get-started .pure-u-1{
    background:url(https://googledrive.com/host/0B9LVk4xbDIJTU0FvQll6RWlCNnM/honey_im_subtle_@2X.png);
}
.get-started .ribbon{
    background:rgba(255, 255, 255, 0.68);
}
.footer {
    background: #222 url(https://googledrive.com/host/0B9LVk4xbDIJTU0FvQll6RWlCNnM/hexabump.png);
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}